.headerportfolio h1 {
    font-family: "Archivo Black";
    padding-top: 10px;
    color: #C4DFE6;
}

.headerindex h1 {
    font-family: "Archivo Black";
    padding-top: 10px;
    color: #66A5AD;
}

.container .row .col-md-4 .img-thumbnail {
    margin-top: 10px;
    margin-bottom: 20px;
}
 
.portfoliomain {
    background: url(./assets/portfolio-background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    }

.containerportfolio {
    padding-bottom: 10px;
}

.containeraboutme {
    padding-bottom: 10px;
}

.indexmain {
    background-color: #C4DFE6;
}

.navbar {
    background-color: #07575B;
    color: #C4DFE6;
}

.footer {
    background-color: #07575B;
}
